


<!-- Start menu section -->
<section id="menu-area">
  <nav class="navbar navbar-default main-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- LOGO -->
        <a class="navbar-brand logo" href="/">
          <img class="img-responsive img-fluid" src="assets/images/logo-icon.png" alt="logo">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul id="top-menu" class="nav navbar-nav main-nav menu-scroll">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/#about">ABOUT</a></li>
            <li><a href="/#team">TEAM</a></li>
            <li><a href="/#service">SERVICES</a></li>

            <!-- <li><a href="/#pricing-table">PRICE </a></li>              -->
            <li><a routerLink="/announcements">ANNOUNCEMENTS</a></li>
            <li><a href="/#contact">CONTACT</a></li>
             <li><a href="#portfolio">GALLERY</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      <!-- <div class="search-area">
        <form action="">
          <input id="search" name="search" type="text" placeholder="What're you looking for ?">
          <input id="search_submit" value="Rechercher" type="submit">
        </form>
    </div>   -->
</div>
</nav>
</section>
<!-- End menu section -->








<!-- Start error page -->
  <section id="error-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="error-page-area">
            <div class="error-no-area">
              <div class="error-no">
                <h2>404 Error</h2>
                <p>Sorry</p>
              </div>
            </div>
          </div>
          <div class="error-message">
            <h4>Woops! Something gone wrong</h4>
            <p>Sorry, the page you have requested has either been moved,or does not exist, Return to our <a routerLink="/">homepage</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End error page -->


