



<router-outlet></router-outlet>




  <!-- Start Footer -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-top-area">
            <a class="footer-logo" href="#"><img class="img-responsive img-fluid footer-img" src="../assets/images/logCIK.jpg"  alt="Logo" id="logCIK"></a>
            <h3 id="kinyinya" >Isuku kinyinya company Ltd</h3>

<div class="footer-social">
              <a class="facebook" href="#"><span class="fa fa-facebook" target="_tab"></span></a>
              <a class="twitter" href="#" target="_tab"><span class="fa fa-twitter"></span></a>
              <a class="google-plus" href="#"><span class="fa fa-instagram" target="_tab"></span></a>
              <a class="linkedin" href="#"><span class="fa fa-linkedin" target="_tab"></span></a>
              <a class="google-plus" href="#"><span class="fa fa-youtube" target="_tab"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p> <span style="color:#4cca9f;">	&copy; </span>2020 by Isuku kinyinya company Ltd.</p>
  </div>
</footer>
<!-- End Footer -->
