<!-- BEGIN PRELOADER -->

<div id="preloader" *ngIf="loading">
	<div class="loader">&nbsp;</div>
</div>

<!-- END PRELOADER -->

<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" (click)="toService()"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->



<!-- Start menu section -->
<section id="menu-area" >
	<nav class="navbar navbar-default main-navbar" role="navigation" >
		<div class="container">
			<div class="navbar-header">
				<!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- LOGO -->
				<a class="navbar-brand logo" href="/">
          <img class="img-responsive img-fluid" src="../../assets/images/logCIK.jpg" alt="logo">
        </a>
			</div>
			<div id="navbar" class="navbar-collapse collapse" >
				<ul id="top-menu" class="nav navbar-nav main-nav menu-scroll">
						<li><a routerLink="/">HOME</a></li>
						<li><a routerLink="/about">ABOUT</a></li>

            <li><a class="active" routerLink="/announcements">ANNOUNCEMENTS</a></li>

					</ul>
				</div>

</div>
</nav>
</section>
<!-- End menu section -->




<!-- Start service section -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12" >
        <div class="service-area" >
          <div class="title-area" style="margin-left: -20px;">
            <h2 class="tittle">SERVICES WE PROVIDE</h2>
            <span class="tittle-line"></span>
            <p>Take a look to the SERVICE we PROVIDE</p>
          </div>
          <!-- service content -->
          <div class="service-content"  >
            <ul class="service-table" *ngIf="servicesCcompany">
              <li class="col-md-3 col-sm-6" *ngFor="let service of servicesCcompany">
                <div class="single-service wow slideInUp text-center" >
                  <img src={{service.service_image}} alt=""  id="serviceImage">

                  <div class=" col-lg-12  col-md-12  " id="serviceTitle" >
                    <h6 class="service-title">{{service.title}}</h6>
                    <p>{{service.description}}</p>
                  </div>





                </div>
              </li>




            </ul>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

<!-- Start service section -->
<!-- <section id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="service-area">
          <div class="title-area">
            <h2 class="tittle">MAIN  SERVICES WE PROVIDE</h2>
            <span class="tittle-line"></span>
            <p>We deliver service for our customers </p>
          </div>


          <div class="service-content">
            <ul class="service-table">
              <li class="col-md-4 col-sm-6">
                <div class="single-service wow slideInUp">
                  <span class="fa fa-bus service-icon"></span>
                  <h4 class="service-title">Waste Management</h4>

                </div>
              </li>



              <li class="col-md-4 col-sm-6">
                <div class="single-service wow slideInUp">
                  <span class="fa fa-bus service-icon"></span>
                  <h4 class="service-title">Bank Agent</h4>

                </div>
              </li>





            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
