<!-- BEGIN PRELOADER -->

<div id="preloader" *ngIf="loading">
  <div class="loader">&nbsp;</div>
</div>

<!-- END PRELOADER -->

<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->



<!-- Start header section -->
<header id="header">
  <div class="header-inner">
    <!-- Header image -->
    <img src="{{ current_image }}" alt="img"  width=500 height=500/>
    <div class="header-overlay">
      <div class="header-content">
        <h2 class="header-slide" >
          WE TAKE CARE OF
          <span >keeping your place clear</span>
          <span >Our customers </span>
          <span >Your Valuable</span>

        </h2>


      </div>
    </div>
  </div>
</header>
<!-- End header section -->

<!-- Start menu section -->
<section id="menu-area">
  <nav class="navbar navbar-default main-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- LOGO -->
        <a class="navbar-brand logo" href="/"><img class="img-responsive img-fluid" src="assets/images/logCIK.jpg"alt="logo" id="logCIK"/></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" >
        <ul id="top-menu" class="nav navbar-nav main-nav menu-scroll">
          <li class="active"><a routerLink="/">Home</a></li>
          <li><a  routerLink="about" >ABOUT US</a></li>

          <li><a    routerLink="service">SERVICES</a></li>
          <li><a     routerLink="announcements">ANNOUNCEMENTS</a></li>



        </ul>
      </div>

    </div>
  </nav>
</section>
<!-- End menu section -->

<!--about us -->
<section>
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <!-- Start welcome area -->
        <div class="welcome-area"  style="margin-top: 10%" >
          <div class="title-area" >
            <h3  class="tittle">Welcome to <span>Isuku kinyinya company  Ltd</span></h3>
            <span class="tittle-line"></span>
            <p style="    margin-left: -20px"> The only place you  can talk with best collection wastage campany in Rwanda </p>
          </div>
          <div class="welcome-content" style="margin-left: 15%">
            <ul class="wc-table col-md-12"  >
              <li>
                <div class="single-wc-content wow fadeInUp">
                  <span > <img src="../../assets/images/service1.jpg" id="service1"></span>
                  <h4 class="wc-tittle">Waste collection</h4>
                  <p routerLink="service" class="more">We offer reliable trash services for the waste every day life creates...  </div>
              </li>

              <li>
                <div class="single-wc-content wow fadeInUp mt-lg-4">

                  <span >  <span > <img src="../../assets/images/equity.jpg" id="service2"></span></span>
                  <h4 class="wc-tittle">Banking agent</h4>
                  <p  routerLink="service" class="more">
                   We help financial institutions to divert existing customers from crowed  ....

 </p>
                </div>
              </li>

            </ul>
          </div>
        </div>
        <!-- End welcome area col-md-5 col-sm-6 col-xs-12 -->
      </div>
    </div>
  </div>
</section>



<!--about us-->


<!-- Start Team action -->
<section *ngIf="!loading && galleries" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="team-area">
          <div class="title-area">
            <h2 class="tittle">Our galleries</h2>
            <span class="tittle-line"></span>
            <p>
              We work really hard to provide the best services. Meet the team
              behind such commitment.
            </p>
          </div>
          <!-- Start team content -->
          <div class="team-content" >
            <ul class="team-grid" >
              <li
                *ngFor="let gallery of galleries"

                data-toggle="modal"
                data-target="#exampleModal"
              >
                <div class="team-item team-img-1 wow fadeInUp" >

      <img src={{gallery.gallery_image}} alt=""  id="galleriesImage">

                </div>
                <div class="team-address">

                  <span>{{ gallery.title }}</span>



                </div>
              </li>
            </ul>
          </div>
          <!-- End team content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--end of galleries-->




<section id="from-blog">
  <div class="container">
   <div class="row">
     <div class="col-md-12">
       <div class="from-blog-area">

         <div class="from-blog-content">
           <div class="row">
             <agm-map  options="{draggable:true}" class="img-fluid img-responsive"
             (mapClick)="location($event)"
                 [latitude]="-1.912587"
                 [longitude]="30.089200"
                 [zoom]="zoom">

                 <agm-marker
                 *ngFor="let marker of markers"
                 [latitude]="marker.lat"
                 [longitude]="marker.lng"
                 [opacity]="marker.alpha"
                 [markerDraggable]="true"

               >
               </agm-marker>
                 </agm-map>

           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>


<!--google map-->

<!--TEAM SECTION-->


<!--TEAM SECTION-->

<!--SERVICE ACTION-->

<!--SERVICE ACTION-->

<section *ngIf="!loading " id="counter">
  <img src="assets/images/counter-bg.jpg" alt="img" />
  <div class="counter-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Start counter area -->
          <div class="counter-area ">
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="single-counter">
                <span class="fa fa-users"></span>
                <div class="counter-count">
                  <span class="counter">3</span>
                  <p>Customers</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="single-counter">
                <span class="fa fa-bus"></span>
                <div class="counter-count">
                  <span class="counter">3</span>
                  <p>Deliveries</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 text-end">
              <div class="single-counter">
                <span class="fa fa-tasks"></span>
                <div class="counter-count">
                  <span class="counter">3</span>
                  <p>Requests</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End counter section -->


<!-- Start Achievements action -->


<!-- Start from blog section -->



<!-- End from blog section -->



<!-- Start Contact section -->

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="contact-left wow fadeInLeft">
          <h2 align="center">Contact with us</h2>


          <div class="row">
            <div class="col-md-4">
              <address class="single-address">
                <h4>Headquarters:</h4>
                <p>Kigali, Rwanda</p>
                <p> Gasabo - Kinyinya </p>
                <p> Kagugu - Rukingu </p>

              </address>
            </div>
            <div class="col-md-4">
              <address class="single-address">
                <h4>Phone</h4>
                <p>Phone Number: <a href="tel:+250788800088" target="_blank" rel="noopener noreferrer"></a> 250788800088</p>
              </address>
            </div>
            <div class="col-md-4">
              <address class="single-address">
                <h4>E-Mail</h4>
                <p>
                  Support:
                  <a class="mail-link" href="mailto:isukukinyinyacompany18@gmail.com"
                    >isukukinyinyacompany18@gmail.com</a
                  >
                </p>
              </address>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- End Contact section -->


<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <b>{{ modal_data.name }}</b> <br />
          {{ modal_data.position }}
        </h5>

      </div>
      <div class="modal-body">
        <img
          src="{{ modal_data.image }}"
          class="img-fluid img-responsive"
          alt="{{ modal_data.name }}"
        />
        <br />
        <p>{{ modal_data.caption }}</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
